<!-- app/views/projects/_deliverable_fields.html.erb -->
<div class="nested-fields">
  <%= f.label :name, '納品物名' %>
  <%= f.text_field :name %>
  <%= link_to '削除', '#', class: 'remove_fields' %>
</div>
